In [2]:
from financial_functions import *
from visualization_functions import *

## Import Data

In [3]:
path = '../data/historical/'
data = import_single_file(path, symbol='MACK')
data

            Adj Close     Close       High       Low       Open  Volume
Date
2017-08-14   6.471263  9.992132  10.149489  9.834776  10.070810  106713
2017-08-15   6.369353  9.834776   9.992132  9.756098   9.992132  112471
2017-08-16   6.471263  9.992132   9.992132  9.756098   9.913454  138869
2017-08-17   6.318398  9.756098   9.992132  9.756098   9.913454   94397
2017-08-18   6.114579  9.441385   9.834776  9.441385   9.677419  157134
...               ...       ...        ...       ...        ...     ...
2022-08-08   4.270000  4.270000   4.350000  4.210000   4.340000   19900
2022-08-09   4.160000  4.160000   4.250000  4.060000   4.210000   16600
2022-08-10   4.340000  4.340000   4.340000  4.070000   4.230000   53500
2022-08-11   4.200000  4.200000   4.320000  4.170000   4.260000    9100
2022-08-12   4.220000  4.220000   4.260000  4.180000   4.260000   13000

[1259 rows x 6 columns]